.mOscuro{
    color: aliceblue;
    background: #000000;
    border-radius: 10%;
    height: 35px;
    width: 100px;
    font-size: 16px;
    cursor: pointer;
}

.buscador{
    height: 18px;
    width: 200px;
    font-size: 20px;
    margin-top: 10px;
    background: #f3f3f3;
    border: #000000;
    border-radius: 5px;
}